*,
body {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

.agencies-container {
  position: relative;
}

header {
  align-items: center;
  background-color: #001f5a;
  display: flex;
  height: 5rem;
  justify-content: space-around;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;

  h1 {
    color: white;
    flex: 1;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .form-control {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;

    label {
      color: hsl(195deg 93% 53%);
      font-size: 0.9rem;
      font-weight: 700;
    }

    input[type="text"] {
      border-bottom: 2px solid hsl(195deg 93% 53%);
      font-size: 1.2rem;
      height: 30px;
      margin: 20px 0;
      outline: none;
      width: 100%;
    }
    &:first-child {
      padding-top: 30px;
    }

    .btn-update {
      background-color: hsl(195deg 93% 53%);
      box-shadow: 3px 3px 5px rgb(184, 184, 184);
      color: white;
      cursor: pointer;
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 700;
      height: 40px;
      margin: 0 auto;
      outline: none;
      width: 120px;
    }
  }

  .form-control:first-of-type {
    padding-top: 20px;
  }
  .form-control:last-of-type {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

agm-map {
  height: 300px;
}
